/*Finally, create a new type selector that targets the div element.
Add a background-color property and set the value to lightblue.*/
body {
    text-align: center;
    color: midnightblue;
}
header {
    background-color: orange;
    color: white;
}
div {
    background-color: lightblue;
}