p {
    color: olive;
}
header {
    background-color: orange;
}
header p {
    background-color: snow;
    border-bottom: solid 1px gray;
}
footer {
    background-color: lightcoral;
}
a:link {
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}
a:visited {
    color: seagreen;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    background-color: orange;
    color: white;
}
ol li {
    letter-spacing: 3px;
    color: tomato;
}
ol li:first-child {
    font-weight: bold;
}
ul li {
    list-style: none;
}
#education {
    border: solid 3px red;
}
#education h3 {
    font-family: Arial, sans-serif;
    font-size: 32px;
}
#skill-list {
    background-color: aliceblue;
    padding: 36px;
}
.top-skills {
    font-weight: bold;
    background-color: teal;
    color: papayawhip;
}
.date {
    border: solid 2px steelblue;
    border-radius: 12px;
    padding: 6px;
}
.special {
    text-transform: uppercase;
    background-color: papayawhip;
}
#proud {
    font-size: 48px;
}