/*Finally, add a new pseudo-class selector that targets all links on hover. Add a color property and set the value to tomato.*/

a:link {
    color: orange;
}
a:visited {
    color: steelblue;
}
a:hover {
    color: tomato;
}