/*Finally, target experience with an ID selector. Add a background-color property and set the value to lightsteelblue.*/
.main-header {
    background-color: orange;
}
.main-heading {
    font-size: 72px;
}
#experience {
    background-color: lightblue;
}